<!DOCTYPE html>
<html>
<head>
    <title>PI Radio</title>
    <link href="https://fonts.googleapis.com/css?family=Jersey+10|Open+Sans&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link href="{{ url_for('static', filename='css/main.css') }}" rel="stylesheet">
    <script type="text/javascript">

        const status = "Playing";

        $(document).ready(function () {
            getStatus();
            getStations();
        });

        function getStatus() {
            sendGet('/status')
                .done((status) => {
                    console.log(status);
                    $("#volume").val(status.volume);
                    $("#volumeVal").text(status.volume ? status.volume + '%' : '');

                    if (status.radio) {
                        $("#station").val(status.radio)
                    }

                    if (status.playing) {
                        $("#play").hide();
                        $("#stop").show();
                    } else {
                        $("#play").show();
                        $("#stop").hide();
                    }

                    if (status.error) {
                        $("#error").text(status.error);
                    }
                })
        }

        function getStations() {
            sendGet('/stations')
                .done((stations) => {
                    console.log(stations);
                    stations.forEach((s, idx) => {
                        $("#station").append(`<option value='${idx + 1}'>${s.title}</option>`)
                    })

                })
                .fail(() => {
                    alert('Could not retrieve stations');
                });
        }

        function sendGet(url) {
            return $.ajax({
                method: "GET",
                url: url
            })
        }

        function sendPost(url, data) {
            return $.ajax({
                method: "POST",
                url: url,
                data: data
            })
        }

        function startRadio() {
            console.log("PLAY RADIO");
            sendGet('/play')
                .done(() => getStatus())
                .fail(() => {
                    alert('Could not start radio');
                });
        }

        function stopRadio() {
            console.log("STOP RADIO");
            sendGet('/stop')
                .done(() => getStatus())
                .fail(() => {
                    alert('Could not stop radio');
                });
        }

        function updateStation(station) {
            console.log("Update station", station);
            sendPost('/stations/' + station)
                .done(() => getStatus())
                .fail(() => {
                    alert('Could not change station');
                    getStatus();
                })
        }

        function setVolume(volume) {
            console.log("Update volume", volume);
            sendPost('/volume/' + volume)
                .done(() => getStatus())
                .fail(() => {
                    alert('Could not change volume');
                })
        }
    </script>
</head>
<body>
<div class="content">
    <div class="title">
        <h1>Radio</h1>
    </div>
    <div class="form">
        <div class="form-main">
            <div class="formcontrol">
                <label for="station">
                    Station:
                </label>
                <select id="station" class="form-control" onchange="updateStation(this.value)">
                </select>
            </div>
            <div class="formcontrol">
                <label for="volume">
                    Volume (<span id="volumeVal"></span>):
                </label>
                <input id="volume" class="form-control slider" type="range" min="0" max="100"
                       onchange="setVolume(this.value)">
            </div>
        </div>
    </div>
    <div class="actions">
        <div class="error">
            <span id="error"></span>
        </div>
        <button class="btn btn-primary btn-lg" id="play" onclick="startRadio()"><i class="fa fa-play"></i>Play</button>
        <button class="btn btn-primary btn-lg" id="stop" onclick="stopRadio()"><i class="fa fa-stop"></i>Stop</button>
    </div>
</div>
</body>
</html>
